 <div class="header {% if site.header == 'large' %}header--large{% endif %}">
     <div class="container">
         <h1 class="logo"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 {%- for link in site.navigation -%}{%- assign current = nil -%}{%- if page.url contains link.url or forloop.first and page.url == '/contact' or page.url == '/contact' -%}{%- assign current = 'current' -%}{%- endif -%}
                 <li class="element {%- if forloop.first -%}first{%- endif -%} {{ current }} {%- if forloop.last -%}last{%- endif -%}">
                     <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
                 </li>
                 {%- endfor -%}
                 <li> <a href="https://bit.ly/jangdankong_schedule" target="_blank">아지트 일정</a></li>
                 <li> <a href="https://forms.gle/oDAfHf47YaDbfoTr6" target="_blank">예약신청</a></li>
                 <li> <a href="https://open.kakao.com/o/g1cdFCcg" target="_blank">오픈 채팅방</a></li>
                 <!-- <li><a href="https://github.com/brianmaierjr/long-haul/archive/master.zip">Download Theme</a></li> -->
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->

